@model List<EntreHojas.BL.Producto>
@{
    ViewBag.Title = "Inicio";
}
<head>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.icon">
</head>
<section class="story-area left-text center-sm-text">
    <div class="container">
        <div class="col-5 text-center"><h3><b><font face=”Arial” size=5>Nuestros Libros Más Destacados</font></b></h3></div>
        &nbsp;
        <div class="row">


            @foreach (var producto in Model

                .Take(4)

                )
            {


                <div class="col-lg-3 col-md-4  col-sm-6 ">
                    <div class="col-12 text-center">
                        <div class="ïmg-200x mlr-auto pos-relative">
                            <h6 class="ribbon-cont color-white"></h6>
                            <img img style="border: 2px solid; color: black"; src="@(ViewBag.adminWebsiteUrl + producto.UrlImagen)" alt="" width="120" , height="160">
                        </div>
                        <h5 class="mt-20"><b><font face=”Arial” size=4>@producto.Descripcion</font></b></h5>
                        <h4 class="mt-5 color-primary"><b><FONT face=”Arial” COLOR="red" size=4>L. @producto.Precio</FONT></b></h4>

                        &nbsp;


                    </div><!--text-center-->
                </div><!-- col-md-3 -->
            }
        </div><!-- row-->
    </div><!-- container -->
</section>


<section class="story-area left-text center-sm-text">
    <div class="container">
        &nbsp;
        <div class="col-5 text-center"><h3><b><font face=”Arial” size=5>Nuestra Colección</font></b></h3></div>
        &nbsp;
        <div class="row">
        </div><!-- row-->
    </div><!-- container -->
</section>

<section class="bg-lite-blue">
    <div class="container">
        <div class="row">
            @foreach (var producto in Model
                  .OrderBy(r => Guid.NewGuid()))

            {

                <div class="col-lg-3 col-md-4  col-sm-6 ">
                    <div class="col-12 text-center">
                        <div class="s-left"><img img style="border: 2px solid; color: black;"class="br-3" src="@(ViewBag.adminWebsiteUrl + producto.UrlImagen)" alt="" width="140" , height="180"></div><!--s-left-->
                        <div class="s-right">
                            <h5 class="mb-10"><b><font face=”Arial” size=4>@producto.Descripcion</font></b> &nbsp;  <b> <FONT face=”Arial” COLOR="red" size=4>L. @producto.Precio </FONT></b></h5>
                            &nbsp;
                            <p class="pr-60"></p>
                        </div><!--s-right-->
                    </div><!-- sided-90x -->
                </div><!-- food-menu -->
            }
        </div><!-- row -->
    </div><!-- container -->
</section>


